#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="ui inverted purple button" href="/signup"> Signup  </a>
    <a class="ui inverted teal button" href="/login">  Login   </a>
  </div>
</nav> 

<section class="ui sizer vertical segment">
<div class="ui huge orange header">Welcome to Spacebook</div>
</section>
<!--  <img src="/public/images/purple.jpg" class="ui fluid image">-->