#{extends 'main.html' /}
#{set title:'Blog' /}

<nav class="ui menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="ui inverted purple button" href="/home">Home</a></li>
    <a class="ui inverted pink button" href="/members">Members</a>
    <a class="ui inverted blue button" href="/profile">Profile</a>
    <a class="active circular ui inverted green icon button" href="/blog">Blog</a>
    <a class="ui inverted teal button" href="/editprofile">Account Settings</a>
    <a class="ui inverted red button" href="/logout">Logout</a>
  </div>
</nav> 

<h1 class="ui teal block header" >Blog  </h1>
<section class="ui two column grid segment">
  <div class="row">
    <div class="ui column">
      #{include "components/createpost.html" /} 
    </div>
    <div class="column">
      #{include "components/displayposts.html" /} 
    </div>
    <div class ="column">
  </div>
  </div>
</section>