<section class="ui raised segment">
  <div class="ui list"> 
    #{list items:users, as:'user'}
      <div class="ui item">
      #{if user.checkonline ==  true}
        <i class="check green circle icon"></i>
      #{/if}
      #{else}
        <i class="minus red circle icon"></i>
      #{/else}
       
        <i class="user icon"></i>
        <div class="content">
          ${user.firstName} ${user.lastName}: : ${user.statusText}  <a href="members/follow/${user.id}"> (follow) </a> 
        <a href="/blog/${user.posts}">Blog</a>
        </div>
      </div>
    #{/list}
  </div>
</section>